<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="448" />
    <add key="mainForm.Location.Y" value="49" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEADMwsDprtfCOBwPDCUcAajmZiwwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEADMwsDprtfCOxwUGBycACsOexwwAAAA=" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAJO5vmuG1cI7HgwOKc6uRslMDCDQMMf51Ccom2G989vJKVD2CWeWbnV2GJuvOgki7jDLeZ0gVP2Bac7/5yXC1XOYJsPZWZsS4Wb2z4Kp3+h84mUClL3BWWQeVFxhhrMSN8IciRknWWBs/k6YvRuci/gR5kvWSArD2HsyoWoObHI+BTdnmnNjGcIvj07PkoGxAVxi7vUIAQAA" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAItV3T3DauEdDwaGaS5nC7YKMIDBNJd1gslMYOaKXpf/8xIh7A/uLhymUHGHTJerVzo5YWwlboSaZJ8kCHuBmstW73QIO4DVhb8TIV7EjzDnc20H3Jz3d1Lh5nCKpMDVqKinwtlczxB27clEmHkK5gagmsayFLiagqzDLDD2Em6EvZOPQsWBbEP7ZLj6bQ5JcDWB7gh23L4kuBpbjkS4va/tEOK1hxHqAbjdsj9cAQAA" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAC2OTSgEcRjGNxyUj4MoGW0okRwUB1HKk++r0or1sUt7UQpNM387/z1srXISSsph9qBsWaRs0qhVypaSJEWUC1mMo8MeFs3jPf16+z3P+7obBjfboo99V4qO2KE/x/U3e5caut+mHH6+0DCkkPt1DRtPkw4nGjV4en0OV85oaFggp3NVjMTpZ+ICqTb6ypKB0kvyUSYI9Z5+KqlDjU87fGwL9Jheh0tgYDdL59xnYGCF2SQkFJv7Tmmg7og/h2IGik54984y8J2mM9oqkTgjuwpDMFX2zGYl7Aiz3VoQc110zIBAc5T78naBn3d21qwLJMLk145F3LTQiWwLhJPMej50mIfk+oogvFvkrx8J/86Ew8UBCauWPekxCe8a/1m2JF7K2DlQKeHeYNaqlqjK0NFPDax6yKn5RZw9kA9yBfKG6e/f6riwuRcFAjPm/618ga9P/qDlCVw30feNC/wCgUjNJgQCAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAC2PTSjDYRzHkcs0DvM8/2c1LS9p2knR0k77ynuNg5KXlveLlFqaUqJWysvBS5Jy+E8xyhwUBxy2lSiRlIPFQVLI5CRNeen/9Zw+/fp8f7/vY3c2r7hDt3UD4wJbu70ZaX8v3CRQ/dRncI9XoMVGnrILLN91G/zwnovW2h6DdzQB5zC5PWxBR4R+yZDEqZv+eYGCOCPbLjQEbujH7wUCkX6DHUsSNbrP4I1PDdvfdIrMCg1zzG7NK9iSnE/mKTj22NnrUsg+4N1rKHw80xmZUdiPkXWTFXqAe6bTrUhOMts+ocFfRaeiWqIsxPm2U+LnhTujnRL7QfLsscRVOR37gEQwymzhl4C+S/bUafCtkocyrOjd7GLPsMJRMff41xR8i+xTmVB4lNx5OKpgX2Y2NaaQn6LjqlRYaCVbHiViCfK6SSKz7f+PSYGTJOf1ORKDOm/FzRJvr+yQlyVxWUq/0SPxC+/RoeQEAgAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAC2PPUiCURiFQ0RoKBpqSQkbJHAScnI6Q5Y1RJSI/QiWBhFNEdLQJkRDVPQnQZBOFX33M6+aIA7ZkqCBthVFRAgWWkPg0NAPnu708PKc9z23yzx2YIs8OArlOE6lT9P090btCdgr/gY/DCbg0pM3jhMIPU43+F6ThHtgpsF9qQTMS+TqXgqTgv6ITiJno6+LqGjPk+cdUQTu6Bu64wiIWd5Nx9Af9jTY+alC+aYzUVAxtMXscFZAX+N890xFT5KddcsqWtK8W/eqqL/SkTcCF1myt6QgHOCe9WcFtVVmqy9RLPbRsUxI9EY4d2xK/Lxxp9EkcREkr43HcGul42+TCF4yO/UuEZZko/McnkPy1ZMC34mXPfcFMibuyRwJeHbYx2ARKHdwp/lDoCvErFIRMH7Rsf79a9tNXumMIXtPdpUktOP/f2yO47rGeWtOYiHMW4a8xHuVHeaKEkULfa1f4hcYEnj1BAIAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAJPTCp5ptfCOxxSrP44rNyUzMQDBvWvpjq4vUsBsjTBfR+tvEHGdsk0OpTcSIWwrBoephUlg9rwdOx0EfSDsPbeLHcq6IWy+2acdvRIheue5dDheugLRa2km6WjyGaIm//NqBy1tCDvkyU7HSUoQNbNmJDjWXYeI7+qY4/i6HyJemhrruEIEYibDgnCHkF4IW5PtjsPq/RA37ztS4XD7CUTvB0s/x5SDEDbDh9cO7WUQc06opzt8b4Oao2Dk8M4Joibn4XGHgkUQ8XUyOQ7fhVLBbCbJeodtzRDzJ55Xc7xkAtVrEOnYfACi98uVqw4LNkHYp4LnO+5qgLBtnWc4WqxMALMzf/90kBGFmNPqt8Ph9D6IexgmbHD49g7qzgsvHOSnQdkFax2kf0Pd3PDW4UY4hG0ksMSh6CGE/cL5nP2xCIj6CUfZHBj5Iewl07ocTlZA7Fpk/cpBnRWifu//uw51EhA1HqcvOQAAzaxlnwQCAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAJPTCp5ptfCOh10Bj9PKTclMDECQInnCwfVFCphd9kjd0fobRDxp+VqH0huJYDYDwzT7qYVJYHZX7AoHQR8I+1dtqENZN4T99uVxR69EiF4Gh2bHS1cgeg15NB1NPkPUxD1b5KClDTVn7mbHSUoQNRelUh3rrkPEXwp1Or7uh4jX+Po5rhCBmtnA6RDSC2EfPbfOYfV+iJsbSz0cbj+B6D103MUx5WASVP1uh/YyiDkT5q6z/94GM0fJ4Z0TRM0m1xUOBYsg4hfigh2+C6WC2UFvchy2NUPMX3n0v8MlE6jehDbH5gNQ8x3OOSzYBGVPOOm4qwHCvmS21dFiZQKYXa7E5igjmgINwyqH0/sS4X759g6ql+GXg/w0mJsXOUj/ToSbfyMcxp7jUPQQwlawdrc/FgHTe8KekR/CLrrs7nCyAmJXl94tB3VWiPpf/6441ElA1KiZLXIAAItOrlAEAgAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAJPTCp5ptfCOx6tDzE4rNyUzMYBAw24H1xcpYPZGYUdH628QcXWzAw6lNxIhahjW208tTIKwD9xyEPSBshmqHMq6IWxPof2OXokQvWVCqxwvXYHqVWBwNPmcBLdLSxvCPuq8w3GSEkSN2vV+x7rrMPNXOL7uh+pdoOq4QgTqToZEh5BeCDvl+XGH1fshbq541Odw+wlUr0KDY8pBmF2cju1lUHMaOh2+t8HM8XB45wRT89ahYBFEfMPkJofvQqlgtoh1gsO2Zoj5+7/mOl4ygeo94OjYfCAJ7q8FmyBszfNTHXc1QNgHJJY7WqxMALPv5bI5yohCzDl67qfD6X1Q9ziYOn57BzXH4ZyD/DRYeE5zkP6NCLcb4RD2iQP9DkUPIeygC6IOxyIg6nW8bRwY+SHsGWeXO5ysSIHrVWeF2fXcoU4CFrb8jgA6MJQ8BAIAAA==" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAJPTCp5ptfCOR92MO44rNyUzMQBBsvk+R9cXKWD2hs3xjtbfIOJzJc46lN5IBLODAqwdphYmgdkMDYscBH0g7LofTQ5l3VBxhdOOXokQvQwMVY6XrkD0burhdDT5DFGToj7HQUsbqp5hveMkJYgaj0gPx7rrMPN3O77uh4jrfZnvuEIEamZDiENIL4StVvbZYfV+iJuLkrIdbj+B6j3g6JhyEOYeBsf2Mqj7L1Q6fG+DmcPp8M4J5oZpDgWLIOLq3xQcvgulgtkVQDO3NUPMb+lndbxkAtV7QMOx+QBE75XJlx0WbIKaM2G6464GCPurVrOjxcoEMNuI54uDjCjEHM/Vnx1O70uEhY/Dt3dQvQ7PHeSnwfx+xUH6N0TNhEQ2xxvhiXDxoocQduS0DfbHIpKg7N/2jPwQ9ruWqQ4nK1Kg7vzsoM4Ks+uhQ50EVE3ZQQcANg5SeQQCAAA=" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAJPTCp5ptfCOR/3rz44rNyUzMYDAhA2Ori9SwOxj63Icrb9BxCse9TmU3kgEs+MklB2mFiaB2e9cDjoI+kDYDAxVDmXdUHbAHUevRKiZDbmOl65A9DIoGDmafIaqcdjqoKUNZW844zhJCarGwdSx7jpU/EKL4+t+qPgBR8cVIlAzD/Q7hPRC2OrfmBxX74e4WWR3h8PtJ0lwu1IOwtz20KG9DGb+HIfvbTC3hTi8c4KqOfDZoWARRFykerbDd6FUCPvtQodtzRDzNa6pO14yQfir+QDCLws2QdkJbY67GiDstEmNjhYrE8DsEwduOciIpsD0OpzeB3UPwzSHb+8QbpCfBmOvcJD+DfP7LYcb4Ylwvxc9hLBFrH/aH4uA+fGXPSM/hB0k1+lwsiIFrledFWFOnQRM/QkHABkWG8oEAgAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAJPTCp5ptfCOB0NDl9PKTclMDGAwwcn1RQqEXdDpZP0NKv6g0qn0RiKEfSDBaWphEoTd4OEk6ANlPzBxKuuGiYc7eSVC9R4ocLp0BarXIdnJ5DNUjYOXk5Y2lL3A22mSElRNQ4BT3XWo+IEgp9f9MHujnVaIQM1scHEK6YW5zcFp9X6omw/YON1+AjM/0inlIJTNkOjUXgY1h8HD6XsbTK++0zsnmJtVnAoWQcUdVJy+C6VC2AnKTtuaYebHOV0ygapZEODUfADmTi+nBZtg5kQ57WqAshOKnSxWJkDNLHSSEYWa4xDhdHofzF+xTt/ewdwc4CQ/DcY2d5L+DQs3G6cb4TD1uk5FD6HsBEWnYxEwuxScGPlhblBwOlkBc7OZkzorVL2CllOdBMJ8ANiQ6RQEAgAA" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAJPTCp5ptfCOB6/qE4eVm5KZGIDA4PZuB9cXKWB20fduB+tvEPGaqS4OpTcSwWxudyWHqYVJYLbDaVsHQR8I265DyaGsG8L+emWHg1ciRG+Z80yHS1cgeqUmijqYfIaocZFnc9DShrA1f05zmKQEUePzOsuh7jpEPNGg2+F1P0Tc2y7SYYUIxMx/zD/tQ3ohbLEUHofV+yFu3hv70f72E4jeT/KBDmwvIeyb93gdnvpBzLnWddp+xTqI3kUpZ+1tpSFqRNr+2xcsgoh7XH9n/10oFeL3+J/225oh5vu2GjhcMoGoefLa36H5AESvlfVv+wWbIOxz9U0OuxogbGbzJgeLlQlg9q/bYg4yohBzWM15HU7vg7iH8b64w7d3EPVptSIO8tMg7AMRX+ylf0PUyKsJO9wIh7BvCXy1L3oIYbNXHbI/FgFRv4fxtj0jP4SttPuF/ckKiF3PkyUc1Fkh6tceFnSok4CoeXJDwQEA9FOc8AQCAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAJPTCp5ptfCOhydTiMPKTclMDECgHKTl4PoiBcyevn+rfZg0hB3c8sJu+t1EMHvCtDi7CPckMFtk5UU7rRII+4N4oV30Woh6JxEehxNWEPXzcw7Zi5yGsPtYZ9qV3YSob9NdaFe2NhXMPvWT08FtQSyYLbxmvv2afxA1MSav7b0mQPROWbvZXvotRPzZ0zl26lshbk4LembHuwtir2/hPLtvLyFqFi5ea7/tIIR9NF/IfkEZxJxDCuZ2b9sgeg9FxdgVuUDU+Kw6ZGe8ECIupjXF7v8riJk32DbYbWuGsBVeJ9lfMoGoidCstW8+ANG74MZjuwWbIOwdreftY+dA2FIWz+2TVySA2bdT/9ntUYWYI3H1i13sZIh7MsoN7J+KQsycZ8dlLzcdoneTVb+dwi+IGp9gJvunBhC23dLJdnlMEDVrOqXtWCIhbIb5WXbH30LUKMr12J2sgNjFO5XLfqIIRNwk47idCCdEPa+EkT0ArJ4O+AQCAAA=" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAJPTCp5ptfCOh/GfGPuVm5KZGIBg8iFpO9cXKWC29p1YO+tvEHHfnqO2pTcSwezvSvK2UwuTwGzVbVdsBX0gbJNyc9uybgj7myafvVciRK/7z5V2l65A9L591GVr8hmi5tLHQlstbQj7gQKH/SQliJojGybYrfkHEb9ut9ZubwZE/NubdrsVIhAz29LabUN6Iew5wqdtV++HuDl74Vzb208gepV4ltixvYSwI2pf2D71g5jju5HfdsU6iN7X2+xtbaUhatq8ttgWLIKIC7hMs/0ulApmB57os93WDDE/Yg+j3SUTiBr79+vsmg9A9N56fcx2wSYIe5a1vv2uBgh70xoxe4uVCWB2i90dWxlRiDmxqa9sT++DuOe6drbtt3cQ9ZvP6NrJT4Ow1T0zbaV/Q9SEWr6zvREOYesfaLUtegj1S+Z/m2MREPWn+OxsGfkh7AT2fNuTFRC7Tvf9t1Vnhah/WrbZtk4Coqa9jdUOALLX+qIEAgAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAJPTCp5ptfCOR52hmOvKTclMDECgsVHR1fVFCpjNrvHHxfobRHymI6dr6Y1EOHtqYRKYbS7y1kXQB8IW+yntWtYNYc/J1XH1SoTofbOG1/XSFYhem6XHXUw+I9RraUPYtV7GrpOUIGpeaFm7rvkHEY97wO+6NwMi7m3xw2WFSDJcb0gvwm2r96fA3XP7CUQvK9cbF7aXCHc+9UO4f8W6ZLi4rXQSXLxgEcLM70KpcLu2NUPMf7Nb1PWSCUJv8wGE3gWbIOxLX7VddzVA2C9jZFwtVibA1ciIpsDZp/dB3JNVrOH67R1EPdMXZlf5aQg3S/+GqJmyQc/1RjjC/Zaeauww9skKhN/VWRPhbq6TQIQzAO7Dh1HsAQAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAJPTCp5ptfCOR8ynIvuVm5KZGIBAydDHzvVFCpg9TavNzvobRLzt/Rfb0huJYPa3yWG2UwuTwGzb+7dtBX0gbGWjCtuodRC9dU689o8SIeq5lwjYh22EsD1MFtqafIao3/Vzja2WNoRtdpXVfpISRM37Ly/s1vyDiPNof7PbmwER9ynPslshAnHP995ptiG9ELb8pCe2q/dD7PV7Mc1Wmwci/quCx37bQYg5yS2Odk/9IObMkva1XbEOoobzf4itrTRETVjVCduCRRDxqr2TbL8LpYLZL5/Ott3WDDF/su5du0smEDVa5QF2zQcgehcU/LZdsAnCDm+bYLerAcK+O1XAnu1IApi9ReWvrd8viF6WyX9sT++DuKcu+rndt3cQ9bdbHtvy7oOwGez7bHUvQ9RICzHY3QiHhqHpFNuihxD2tsM6tsciIOoLzGtsGfkh7O69nbYnKyBuTrgtaqfOClEvE/jQtk4Coua0XrsdANg/gecEAgAA" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAJPTCp5ptfCOB+MhJdeVm5KZGIBg1U8+V9cXKWD2rsksrtbfIOIzHTldS28kwtlTC5PAbHORty6CPhC22E9p16h1EL1zcnVcHyVC1G9aouoathHCtll63MXkM0T9lA16rlraELZRo7zrJCWImre7RV3X/IOIzzr71mVvBkRc7JWw6wqRZLhdIb0It63enwJ3jzYPRNztkLHrtoNJcDVP/RDuX7EuGa7eVhrhl4JFCPO/C6XC2duaIeZnFWu4XjJB6G0+gNC7YBOEPT/yv8uuBgh7f5uqK9uRBLi9fr8Qbj69D+KeF1rWrt/eQdQ3rBZz5d2HMFP3MsLNN8Ih7DfA8Cl6iBA/FoEIf0Z+hH9PViDCRJ01Ea6mTiIJbi8ANjdSrwQCAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAJPTCp5ptfCOx2x5RfuVm5KZGIDArWCWveuLFDBb8NJ/O+tvEPGmwA+2+gxJYLaDfIvtbU8Iu2beWVtBHwj77qU826h1EL0Ma37ZPUpMBLOXPFllx3UCwl7AXm7bcAei3oNphW1/eyqYnXSGzV73WCyY/Wtvl92afxA1kk/17PdmQPT+Xilvv0IE4p4G29W2Ib0Q9l7Bj7YPHkLsdT040/bbS4heo3dZdtsOQt1Zomn31A9izrbt4rYr1kH09jGZ2tpKQ9REbThk+/QYRDw9N8G26R3ETPXoU7bbmiHsQxL/bS+ZQNSclouyaz4A0WvA+c12wSYIe4LWRrvYORB26d/ldskrEsDss/ZcdkZKEHNqFgnYPZ8GcU9I+hLbp6IQMzttntvKTYfo3WaxxFbhF0TN8vlidk8NIOyYSYtsZf5D2F+cbttoh0PU98gn2X76BBHPOT7N9mQFxK4fLAJ2E0Ug4o+C9tmKcELUz/wpbAcAYphYIQQCAAA=" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAJPTCp5ptfCOx0VVVteVm5KZGIBAY6Oiq+uLFDBbtlXX1fobRHymI6erPkMSnH3bE8I2F3nrIugDYYv9lHaNWgfRK9Om5PooMRHM3v3ouwvXCQjbZulxl4Y7CPX97algNr+OoqvusVgw++1uUdc1/yBqzCTNXPdmQPSu2KHqukIkGa43pBfhtgcPU+Di315C9B5zkXDddhDh5qd+iXD2inXJcPfbSiP88vQYwsymdwgztzWnwMUvmSDc0HwAoXfBJgh7fuR/l9g5ELbjeSHX5BUJcL1GSggzn09DuOepKMRMFWcFV7npCDMVfiXC1T81QLBl/iP0aocjwvPTJ4T4yQqEXRNFEHpFOCHqs4o1XAFdkeuQBAIAAA==" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAJPTCp5ptfCOx69fcfYrNyUzMQBBp2mvveuLFDB7sfAjuzBpCPun83fb6XcTwewLKTW2Ee5JYHZBwQlbrRII+8jHSbbRayHqp/aJ25+wgqiv7ZlsJ3Iawjat3mNbdhOi3uDgNtuytalg9iYVYXu3BbFgtsXMErs1/yBqIuautvOaANG7z3KSnfRbiPis1FW26lshbpab9MOWdxfEXrOq1bbfXkLUhEq22G07CGHz81+1XVAGMSfjX7rt2zaIXsebk22LXCBqfhiftjVeCBGXKdhu+/8VxEwmodO225oh7HkcAXaXTCBqXhnk2DUfgOi99uea7YJNEPaJd3PtYudA2Ndjl9klr0gAs/1usdrtUYWYwyF+2jZ2MsQ9AgFnbJ+KQswUPStqJzcdorfh3FRbhV8QNR1/v9k+NYCwVXgn2eYxQdTc5gmxZYmEsKW4222Pv4WouZc/w/ZkBcSu4jUsdhNFIOJvW0/ZinBC1Nc1KdgBAMkhJzkEAgAA" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAJPTCp5ptfCOx4tjXK4rNyUzMQDBnDxFV9cXKWC2TzCfa5g0hD3TkdN1+t1EMHvKBj3XCPckuLhWCYQt9lPaNXotRP1pS2XXE1YQ9ZPe8bmKnIawbZYedym7iVBftjYVzN6YJezqtiAWzM4q1nBd8w+iZtbZty5eEyB6F1/mc5V+i9CrvjUZ7gbeXSlw8W8vIWqumIm6bjsIYZuLvHVZUJYIV/O2LRkuXuSC8IvxQoSZ/18hzNzWnAJXf8kEoab5AMI9CzZB2PMj/7vEzoGw34WwuSavSICr2aOaAg/D2MkI9zwVhZjJ5cHhKjcd4R6FX4gwf2qAUF8UfYQFxj7+NhGu/mQFws1LZQ/D1QAANeCl+OwBAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>