<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="448" />
    <add key="mainForm.Location.Y" value="49" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEADMwsDprtfCOBwPDCUe2NX+rdzGAwIH/D/d+MwUzGV44AgAs1FrFJAAAAA==" />
    <add key="/amdcpu/0/clock/expanded" value="false" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/load/0/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAItV3T3DauEdDwaGaS5nC7YKMIDBNJd1gslMYOaKXpf/8xIh7A/uLhymUHGHTJerVzo5YWwlboSaZJ8kCHuBmstW73QIO4DVhb8TIV7EjzDnc20H3Jz3d1Lh5nCKpMDVqKinwtlczxB27clEmHkK5gagmsayFLiagqzDLDD2Em6EvZOPQsWBbEP7ZLj6bQ5JcDWB7gh23L4kuBpbjkS4va/tEOK1hxHq3V1YfXaBOQf+N8fvYYSJFwtsEYCxp99B2HtJHeH+49d8+WDsP9EIv1zfgPC7zs10uPq6d4gwBAD528KV1AEAAA==" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAJO5vmuG1cI7HgwOKc6uRslMDCDQMMf51Ccom2G989vJKVD2CWeWbnV2GJuvOgki7jDLeZ0gVP2Bac7/5yXC1XOYJsPZWZsS4Wb2z4Kp3+h84mUClL3BWWQeVFxhhrMSN8IciRknWWBs/k6YvRuci/gR5kvWSArD2HsyoWoObHI+BTdnmnNjGcIvj07PkoGx3V1YfXZBNPxvjt/DCHNnc3EK3K6X0VAzH8xx/rwqBW7my0UINzgdSYCrXxGcBBd3vA11g8I+5+l3EOqnRgnD3Xx9QyLc7zo30yHshGnOywQQ5jw9eAQeDp+lk+DhCQCq9RX5yAEAAA==" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEADMwsDprtfCOxwUGByfjX3+rdzGAwIH/W/K/mYJYaqrOTgD6NKdHJAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAC2SXUhTYRjHbXRjrAg973lHG+vDxNhNhSHhdtb+I2sV1kUgpqyPzV0oI2PIjCI0JGEz+lysQONY5BI0QsgLjZiDPkCKkESSIsoGGS2CsGJBS85/5+rHw+/5P8/De+yOw7dqB9/52roUDI8FTSXLX+qQgrovLQYH6hU0WMkxu4Lk+xMGL/woR+PegMEPVAWODnJTqgzNo/S3tAu8qKX/cqOEMk22vlIRfUs/81FBdDRkcNUNgT263+ChPypG/tGpMEvsv8Le4asS1hzrvTaJqkfcub5GYvUE585C4tcinc4+ifEpsl5qgR5lTnyFBble9jZ1q4jsprOzTqB6kPURh0DhKzPTxwTGe8gXnwrM7KBjbxPoSbN3018F+hjZ41Ph7ye3mywI3j/OPVMSjyuZE7kj4b/OfbzzElnBzMkzEvYke/PnJDbk6dR4Ja41ksuyAlPz5HulAiuPFG/MKXieY33fGoGwzlkZs8D3b9zBtkrg9Tb6Bz0Ca6X/wESJcWUh9oxvsWTVUGnjPq2LLmxuIftUN4Z08vQpD47OkQdu7kL1HPMH4m4kZ5i/vVXDyQj3mT2rQcmz/jOsYSFETlzS0P+GOeebXbhQwfrvsBNLxRzzaScCWeavTzjR+YSZl7ucSGyl87nDibsPi/9DyIngJ3I86kI4zbtifW6YyukXlufe9pIbIho+rKOf6dbwHyvmgLgYAwAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAC2SXUhTYRjHRb0I+qDSKNyQ0qSQqMBdxKSgP2pml1EsalabIsHoQ2Od87pzvJCMoosoaQSed2dFkdRKJEfIKY4QORCihiRFXxhKs7aLoC5GbMn571z9ePg/v+d53/fUNh6+441/an/jUjE6HiwvW/6ezCho/dHl8LdpBUdd5IOqgujn0w4ndyjwHQg47A4paLxIzlSEcTzBfD4hkPIy77qioXqGPJGPIPyB+ZStIpzodvh5VqDN9Du8HhoeF5h5FdDQcYO9NnS4sqzv1zVsm+DOA6MaVk9y7ntLw98MMyf26EhOkctWDcAM03OuoCM7xN5WJYLeFmbMHoGmOOubmgWKS3TWDQskB8mL+/qR9jAzdF9g0Gav76cKc5y8vSYC/wg5V9QRfHjK4TU9OqwGejKdOvy3uM81S8fCBjo73Dpqo+y1tujYnGdGfaHhpo+c6uvH1EfyWIVA5THmn86qmM6yLlYKhMzSrBUCuV/cQakUeLub+cBJgbUb/YcmnQuyi1df8y3qpESDm/tYfRJbu0p3cj6GByY5fCaOzjly/TMTTXP0P3oXQzRN/9IXibO93Od6TqI6z/q6eYnv3eS2gsTILD3JfwYu17N+12PgT8mT3WsgsEC/OGLg0ks6vS0Ghncx095s4N4YPZ6dBoLz5GCVRMjmuS6kYyivKr318lwJ8u1Fia81pf//t8R/8mZ2jhgDAAA=" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAC2SbUhTARSGZSywD7HahjVlCU2CETlYhlnnjL4jKYS+rDVRt5E/xIbJipoR2voAJ7UlZjiZSLLSkYycoEMmDFquIkY5ppllDEpYEJTZSK3uu/vruYfnvOecy1WojneUdL8/nEpVaB/7DKKMf8+dIrv2wBejwD2SWT6VC/697xe1T1cJ/MZopfJD1QKbzWFSNYBD3x2k88Jva83RhkvgN7Y4WRoBF10NkCUOXz3mJ4vXJLBPKdEedOsFLu5o4P4lOOWuPj5yF72jOx2cm0T9oekJbRnEzgrHAmUNY+6OK300/xXOyY032D8Gzs5+R24LcmqWzlPyJnr3xJ1Uvx/OgiZCmm7U88xDtDyHTNH6CPmbwV2ZZRzdDmdOXcvNQfRO/Jkgtw8c/uZifSc4pu9lg6dS4GOTKzhQgJzMnAjpndhnbdlLSsiQKXslY0U7eq+/bqP8FJzbi/OUUIOVWQ6qE8GZWnOCxGfA8tW36HkSzocLD+jFZcy62C/me1LUk7Zxkq6Ef60pnxtOny0d/v+SEVz+5K0R6raohwvysE/L7l2sNKa/yaoqba8bPO0Z4YoYWGf1kCaGGx/pVNweRf7Auimqq8fcH6FNLE2h/jR+jj+bwMbFbdz5Fjn2yiDZNqdvKd7AP9M5MXmIqhPIP6oT86VRZG5tLOX7helbCj9SzwBybJIZMsyCreNBrg3iHxsabGWRBH7g2Qh17QU3We00I4c/6fLQXxKn9PYYAwAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAJPTCp5ptfCOx0VVVteVm5KZGIBAY6Oiq+uLFDBbtlXX1fobRHymI6erPkMSnH3bE8I2F3nrIugDYYv9lHaNWgfRK9Om5PooMRHM3v3ouwvXCQjbZulxl4Y7CPX97algNr+OoqvusVgw++1uUdc1/yBqzCTNXPdmQPSu2KHqukIkGa43pBfhtgcPU+Di315C9B5zkXDddhDh5qd+iXD2inXJcPfbSiP88vQYwsymdwgztzWnwMUvmSDc0HwAoXfBJgh7fuR/l9g5ELbjeSHX5BUJcL1GSggzn09DuOepKMRMFWcFV7npCDMVfiXC1T81QLBl/iP0aocjwvPTJ4T4yQqEXRNFEHpFOCHqs4o1XOMNorx3gTgMB/5/u5IBFvdMVnENZIO4pz6Ox/VHJYRtMMPYddkCCJujUdk17jqEbXZZztX4OsSP1ev0XKdfSoKz84og9v7mFHMV+YUQf5wK9eN3adc5VyDmfLbndG1VRqj5egmhJukpxPxMJzXX8n2JcPEp+gg1izcgzKmdAmF/CWd3DeJLA7Nv7ZNxZRJOgqv5JoXQ2+6UDLcXALeNoGMYAwAA" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAC2RX0hTcRzFxxJLH8LlytafrT8PklLOlRHl93tDsIz+gDYIppZumSYlJdUKLMQtxOiviLKSutnIWWLmw4RgplKaMyPGyAcNbHXTHhopdVmTWnGP9+nD4ZzzPT+uPu2wa+fDybx7hvVCR49Nrfr/7TlzV8idOa6wJhDjXTL0uvwflKGyKrzb4KSJfeCa+2OkOQD+GKgiSxeyqs4oh0pLFXZ/ecKJb8DiYjvVTsKfp/bQrfoyha1v44XNQ8UKR33XuPMvPDppi+CrQHa+wyB4tNhTS0/JfAPs08zS1CfczR1wkfwNWVO4kr0DCzvPbWLpEHq8vSnk6UL2pjqLaDU8lu5Bkoagl58uobowOlML/eR1gAdXxiiwDZ5RvYUd/cgaE2QSe8C3055zcSv4/J92tnlKFB4TEtm0AT01bUk83Yw95nI3ScvR2ZA9TfoWZL073LQuCk/7gxUsGcFFjW20Jgb+mTORnX4E/usGK83NQT813EwjF3ErEpfEd7TQQwV9pE2A3/U7mY8ZLftfKD+sPyYHKxT9ve4g58djz7vUFI5cAmsbRX4sgsNFDj46Dl5rF2nrON549koWtwTQ/4oiVFWNu86vmayNQneGMvlzGdiv286tQfTYL4zS1Y3Qq01L+NdCT2RRL1kl9E89myd7Hzo/vGZuyoCn4ftLetSNnmV7R+hyE9gfN8wFS08oXBkUWZ0Mf+HMSZJXgWfTzVSfA79XY6N/4uOR6RgDAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAJPTCp5ptfCOB+MhJdeVm5KZGIBg1U8+V9cXKWD2rsksrtbfIOIzHTldS28kwtlTC5PAbHORty6CPhC22E9p16h1EL1zcnVcHyVC1G9aouoathHCtll63MXkM0T9lA16rlraELZRo7zrJCWImre7RV3X/IOIzzr71mVvBkRc7JWw6wqRZLhdIb0It63enwJ3jzYPRNztkLHrtoNJcDVP/RDuX7EuGa7eVhrhl4JFCPO/C6XC2duaIeZnFWu4XjJB6G0+gNC7YBOEPT/yv8uuBgh7f5uqK9uRBLi9fr8Qbj69D+KeF1rWrt/eQdQ3rBZz5d2HMFP3MsLNN8Ih7DfA8Cl6iBA/FoEIf0Z+hH9PViDCRJ01Ea6mTiIJbm+8QZT3LhCH4cB/3nUZkHg5rOxqpQtx56d0Kde3QRB2+k1u143HoemEQcs17jqEnbJbx9X4OsSP1ev0XKdfgrr/u7RrXhHE3imV8q4ivxDij1Mh7LpPIq5zriTDxVuVk+DmfL2EYCc9hZiv2i3sWg4NN5D6KfoINYs3IMypnQJhH/ys7RrElwZm36gyc2USRqivjT3KAmMDAFUGjKsMAwAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAC2SbUiTYRSGVbSQbebHAmtRoEGwuT5XgXXOS1IhtEaZzLIonRlLKNYgZrJGoE0kDNmHkfVDU0hpjLQctdgyGpn4I7APhSVlNlpFSeUmrdTivff+uri5zv2c5+FdrTx0vbjrbemxn2ahb6AmLeX/V7BJy3uiJ0VuV9p5Rxy5fWaWzk9Uixx36sl9ziAyvQtTjhZcuLmeKr2YtZXIhA/V8CU92YK+H1yq6SLNL/j+3x5SqsDbXmcIjgI4M7NR9iwgl6riHDAi11rquFeOfeZa26m8FbzG8ZHuPMa5umg7qaTIE/VSwfcEPTVNuziiQ0+HYj/1euFkLpYTKeDoG56T6RbyhoCD5nJrRf4cuUG+RvQ71ZM8poGjtBzgxiHMdpr+UOcAuMLexv5L4El3trAkVCXy/bXzpEtgNt35l0aD2Md29BPHv8MPN02TLAhOEa6S+iUcRW4KT1Qk33Cri8xTYN/TInp2GL5pu5VSl4GvBFpopB47V4WX87oM+KsOTpEtH87o+mY+sbFyn188bGhR5jWKuWfSxMVq7JnzsI+/lYGN3VbuHwa/cbfx8XFwXeoP2jKOOz6Q7+ZrY+jv2Puezppx7oJEzvIE8sGinTxdm/x/nPN88xV68g3DdLkQed7IUo4le3wvesgQQb/mTIwsyXc7nXmbXRvgWFVfqfsueoJfYnTRBc6SrBDKsk6JHDoS4rQ8+On3Wii+EuzxX6DmkuS9Bh/RP2PbKk8YAwAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAJPTCp5ptfCOR52hmOvKTclMDECgsVHR1fVFCpjNrvHHxfobRHymI6dr6Y1EOHtqYRKYbS7y1kXQB8IW+yntWtYNYc/J1XH1SoTofbOG1/XSFYhem6XHXUw+I9RraUPYtV7GrpOUIGpeaFm7rvkHEY97wO+6NwMi7m3xw2WFSDJcb0gvwm2r96fA3XP7CUQvK9cbF7aXCHc+9UO4f8W6ZLi4rXQSXLxgEcLM70KpcLu2NUPMf7Nb1PWSCUJv8wGE3gWbIOxLX7VddzVA2C9jZFwtVibA1ciIpsDZp/dB3JNVrOH67R1EPdMXZlf5aQg3S/+GqJmyQc/1RjjC/Zaeauww9skKhN/VWRPhbq6TQISzOWeU9y4Qh+HAf9OrGWBxz2QV11g2iF9UNqu4nqqEsKNesbtuPA5hyx0wdo27DmGz3pJyNb4O8Uv1Oj3X6ZeS4Oy8Ioi99gc1XEV+Qd3/Xdr1cSqE/cFV3XXOFYg5n+05XVuVEWr2rkaYM4sHYo5cmb7r1OmJcDW/9RHq5a4jzKmdAmFvNZJyvbEfEl9LXrxweWmFUN/pmARXb/gZwQYA4ddOYwADAAA=" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAC2SbUhTYRiGZzArMK20LyYzFrXashEuLO15DtIisxSjpFUutFpo0oeCq34YgbqxPkTyq8TAhT82XJIz9kNaG2FWLgjGYqMGVkvQrIkIkzRctXvn13Vurud+n5dzpIrjj/IsocKcP+WCzXF+mejf0/ZKwgcnL8RZGdJxfhR58b3XVB+sjPO8LIs6as/FeavTT2uOgtXXc8lwFxzdkSoUVWL20G8b+/yY/fXtDqnn4Phma0mhBH/ZvEJ4IIMz8qyV7UvIA/yUXVXIoz9NbM1Ap/GiiU7cB/eke6nfjZ1rLI/p83fMylL6OHkKrG2YpIkS9BQPppF1ALPTToFIAsdY9JyuPUG+WtNJ82v1cT72toWcjejXvkhinxqOMDPAjR7MfpoepV4HuDtfJQzfBjvs64W9too4N3GIMtehR6f/Qd6X2CegrKFoBP7Q+2zO6gTLD1eTZBFO2b4IBU+CVZ5mqvuauEt1bP+oFv5YKlNSGrhi+VV6dwNneVtiJBfDnzAM0a2NcExGMeeuPH1k+P+LyBPb87Eqnu+yF7IuGXdUuMI0dhNslrfz4Bvwgdk2PhsAl5xqopwA7pi6JOIuH/qD9Va6UodzN2wSc8YC8rkPUg7rwW5DKff40eM800rNW5Bfzh4nVz843fKQulPQo1Gt4o4u8EKklBdVcAzbwiRN7LNdY6aGdvDI4jgH3fiO0Zk+nsqDX6AtJ3MB2Hopk3Yn/snesp30F56H1gwYAwAA" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAC2SX0hTcRTH7aKB0l70arLFWE0JB5LkKllwzpCcZfbQFqHlRDcXJrJQYvrSkzmoRllbLmnsD5JkbCVLRSRsDcKsh0iKGSbBxpYlg4gS2oMW9+t9+vDlc77n/OAqNaYxXejLyVPCOf1k1Crk/f/URo2+Yb1LYu/LGT6vAJuur5N3rVPikdF2amm0SCxOfiDNVfDPvX10MQK/Xtyjf6ODH+iNs/gOfLtgjByf4TurQ+SI2CR++7dQbwiaJS4JBzi8BadNu8FNI5j1RJ6zIos8k/bRwRncfMmYIdk89p7p89Pmdzih8QjPvgK/vlLMQQd64qpjlHViNn6hjfpPwGl+EqfaEPIyjYe2f6BzZfcUzQ6BVRsWXtbCaam6xkMxzAZXUhSMgueG37PZB5bXfWPr4w6JV21b9KISPeWffpPZjXu6B2o4XYpOPxWx0ovZqO4OqXJwmk0Cp2vA9MhNdgFO+IaC8lvBeYEeWszC2a900dIgdsnuF/FdEbm2e5HEQviy8sNcmmw9PS8Nx7b16stSXl3s4Mp9uMeQbeCKLnCycY0ngmBd6gG3J8Au9zOqTeCNdcer2LuM/pyQIHs/9lZMy1nMIT9q13HKBnaVOdn3ET1H0nM0rEY++quA/+z0ZNRPyZJGv8Ep8MDCzlvO9rDnEJyFh6s0PoWejuQSWZPgpsEM98bwj21qJ1gogZ9/4Cb568H3jJ30VQ4/sesW/QNHzez5GAMAAA==" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAC2SXUjTYRjF3cR10VZa0yTL1aQi62LRajZx7wm1pJnSilRi1XL24YWshRKRFpphjaiVWkqQeaWMCgQjXDbpQ4hRF2O41aKIVm0MBn3omkIWO/6vfhzOOc/z8P7zC/f36e9/qFCsC2N4pF6a9v/ThNwoj1hTbE84UDxD/XxPGZqDlhQv3q1Gz+ljKYa3BFmVZEOXGi0O8rT/CfZYmG0p7YPPz+xKZza0v+gpU8lQuIm8MdmLm2p6KmONaAtQt2gciF2nbjTUYUjJzr/pSXHgGjnHKofLw53HzT9EKMzsT9U+yKLkdx8V+FrFnqmrXjH0kNlB6xtRkkeP8vK8sA1SrwjERWJZA28/khSPO9i/t1MDn5aecKwaHRPM6ovnxMAI+e2FdoxdJKfr2lE0fDTFs6EcrMpmT4ZOAe8z7iP5tAIzcfqPtyqh6iVP1P4WeXP0qNYvR7CG/D5zWtg/kxedey4ma+l/KgkJyVKy2h0Rr89y1vf6XGzIoP/Biyy05dITDq6B1F1nHEtLTZtvLDjFW5wnYJbxxlH5Ltwykfv7uhCJk+94mnE4QH75SIWtAd4oLdXito/98W870GTn3FHXdihnqYvyg/jSQHaePIS7fvZMFanQWUD9T3Qbxl3ktKrV6JezR+4sgsFGvpSohqmGnle6AuQv7GOZ3IzWbnK38waCHr5jk86GqJ7+tcZsXNlJNt9bgi0L/6TpTCb+AXpFp+MYAwAA" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAEWSTUgbcRDF10I9FYqiILRo/AAhIkUIVZKg66ulYfUQ0mjiJxuTHKQgiaLoQVkQW2yRFj+x9BA9KV4khx4E6/ZSEG8hkICCkXqwFHIRDLRgC+48/Z9+DDNv3sz8K+2vN5ybpx7FeI+dZPiBcvs+4eVlxOLYAlzXEs9NYyIbstjUsRofttjwoKRLOOfA5AfGA9BCUmvGkEpLrRqG40pyVA32BuFEJ5ZqJMfwYjYjcdOH3x/Ztx/bZaJpdMC/SG8qdg/Fs+nGyQX1exH5LqyE8G5SdBQPCm9Z+wx50HMdYlsSV+tQKI1arNfi6xz1h5BySE7CizmTPjUkktTpw74hrI+jZUcXzTielouOGsTxN841iOs8PXtRtUZuxpO/3Jsb2QDzGzF2LqxX40eQvWwoekwPNhxN0fNz1D+UfJsdsxX3+mfLvZ37VtK/RW3kzsNgMW8XwbJPWI/iMs9/8gbuPcZ96L6RGfUerKe4Ez9Gx6Rvrg1lf+jThZ9R3r0PX9Lc5wvM1/JerTjYpc4rfH5E/81ojVGzC74AZ1FRmeFNHZhZEbYNIHsod1Ti+OWkZhAL7eQ2NPFP5lz4D1dp7i8YAwAA" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAJPTCp5ptfCOR/3rz44rNyUzMYDAhA2Ori9SwOxj63Icrb9BxCse9TmU3kgEs+MklB2mFiaB2e9cDjoI+kDYDAxVDmXdUHbAHUevRKiZDbmOl65A9DIoGDmafIaqcdjqoKUNZW844zhJCarGwdSx7jpU/EKL4+t+qPgBR8cVIlAzD/Q7hPRC2OrfmBxX74e4WWR3h8PtJ0lwu1IOwtz20KG9DGb+HIfvbTC3hTi8c4KqOfDZoWARRFykerbDd6FUCPvtQodtzRDzNa6pO14yQfir+QDCLws2QdkJbY67GiDstEmNjhYrE8DsEwduOciIpsD0OpzeB3UPwzSHb+8QbpCfBmOvcJD+DfP7LYcb4Ylwvxc9hLBFrH/aH4uA+fGXPSM/hB0k1+lwsiIFrledFWFOnQRM/QmHoAJX710Qif9SebVg8Sl67Y6xbBA/vnHRcJwclAwLQ8cX7yBsK8EWR5sNsLg46BD6LwHqd3nH6ZcQYZ5XBIt3SUeRX1DxBT2Oj1NhccTgOOcKxJxf/644tCpDxI/mhTvuXZ0Ed/MsnkS4ersCKLvB2jEoHKLm9KfPDnLXIeYc1ZN3rJ0CYW9s3up4Yz8kHjc9nuj40grmtvUOnY5QdsMiB8PPCHEAtsogCBgDAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAJPTCp5ptfCOR92MO44rNyUzMQBBsvk+R9cXKWD2hs3xjtbfIOJzJc46lN5IBLODAqwdphYmgdkMDYscBH0g7LofTQ5l3VBxhdOOXokQvQwMVY6XrkD0burhdDT5DFGToj7HQUsbqp5hveMkJYgaj0gPx7rrMPN3O77uh4jrfZnvuEIEamZDiENIL4StVvbZYfV+iJuLkrIdbj+B6j3g6JhyEOYeBsf2Mqj7L1Q6fG+DmcPp8M4J5oZpDgWLIOLq3xQcvgulgtkVQDO3NUPMb+lndbxkAtV7QMOx+QBE75XJlx0WbIKaM2G6464GCPurVrOjxcoEMNuI54uDjCjEHM/Vnx1O70uEhY/Dt3dQvQ7PHeSnwfx+xUH6N0TNhEQ2xxvhiXDxoocQduS0DfbHIpKg7N/2jPwQ9ruWqQ4nK1Kg7vzsoM4Ks+uhQ50EVE3ZQYegAlfvXRBF/6XyasHiGwvjHWPZIH4UqT7rMDkI6t8NjY4v3iVD00aFo80GqHgCm2PovwSo+5kdp1+CuZ/TMa8Iau+BWw4iv2BxkeL4OBXC1pMSc5xzBWLOaaMTDq3KEPGd010c965GhMMsHog5269LONoVJMLtCgpHxJ3cdYg5hjo6jrVTIOyu3lWON/ZD4lF9WZPjSytYOM9x6HSEpsPIZgdDaJosep/jAAAYvLjMGAMAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAJPTCp5ptfCOx6tDzE4rNyUzMYBAw24H1xcpYPZGYUdH628QcXWzAw6lNxIhahjW208tTIKwD9xyEPSBshmqHMq6IWxPof2OXokQvWVCqxwvXYHqVWBwNPmcBLdLSxvCPuq8w3GSEkSN2vV+x7rrMPNXOL7uh+pdoOq4QgTqToZEh5BeCDvl+XGH1fshbq541Odw+wlUr0KDY8pBmF2cju1lUHMaOh2+t8HM8XB45wRT89ahYBFEfMPkJofvQqlgtoh1gsO2Zoj5+7/mOl4ygeo94OjYfCAJ7q8FmyBszfNTHXc1QNgHJJY7WqxMALPv5bI5yohCzDl67qfD6X1Q9ziYOn57BzXH4ZyD/DRYeE5zkP6NCLcb4RD2iQP9DkUPIeygC6IOxyIg6nW8bRwY+SHsGWeXO5ysSIHrVWeF2fXcoU4CFrb8jkEFrt67IJz/Unm1YPGYO3mOsWzQuEsycZwcBPXvgzLHF+8g7BuWkxxtNkDFF/A4hv5LgNol6Tj9Esz9Dx3yihLh4S/yCxbOuY6PU5PgZs65AjFHP2qrQ6syTI21497V8DTgMIsnEe5muwIYO8oxKBxm1wkHuevJcL21UyDsN1OOOd7YD4nHI3KzHV9awd3g0OmICGdDWJp02OoAACRx87EYAwAA" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAD2SX0hTYRjGT0aSMYjEwEp0LMgyCBSR0HDvK8pGWcFU7EbxrLOuKtZgx4gcyshwEUnlolDI3bQhSZyoC6OcA3MiSK0Djv7RP8JR7magsECT83zHc/Xj4Xme877f95VXtT2sH//sbPRammLa+QJp81P2JallWTFY/VHJDavQ3U+ekj8tGyxJYfvIFbfBoa4o7WkF5/s6SL0FXsnM8UkZWYmCnNKRrbYc4docPN2/I1R1VPSMPee7Nnje7/dwYAl6pniI/9yBfv30GY6WiM7+Imq/DZ5dnKSJacw84HfSp1/IJuaaWZlxC/8ruqmiZ3hs0r42aPbYKNsEj9YSJW8E+rvuNlor9hjs+nuRXgbRH5vdoFStyPYMcjAu+mmRHmuCh+d5qh+cqnvBx2M9BvfaCrlsryLO8BotvJG3dlnNiqyUp4qwOXOEDvyTt/rTnSaPku872NrgsL89Z2aT9m27wb4PDpq/in+Fjn2kyh3w59d1CpTCc6guQjv15lNTRja+oewK4PzVC9xViB1DXwr4nkvs+03l5Sw4XTTAJ54J3Spxxzp2lOIz9CBlzr9Cl33mzNu5JA/d6ZP5pwf8tb2CR3X01FgSdOMg9N6Eg19PgMO5HD2yiJ74YW70CrbWsKsTngVNp/Il8R6ypdx3H+x3jXN6Gvd4tmyEM/XmfQVpiMFJ7RJVizfZunnX/wHWD3XDGAMAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAC2SX0iTURjGv6RWF1EZCxLFomAzjcghkdPW+6aRZEmotboYaG1IILUUlzctwyz7R5utZSa2xIvGNHQXoSP/FFnaoORj5UALpF2sRmNkKKlo8T3nXP14eN7nPC/npGeWPdY/my5y6ZfY6z+XJP0/375U8eGoWeGMU8c5bw76bpuf6sKVYL1EDy+dVbijf4CSj4FfTdWS7Q54w5MgH63EbEdhM8shzObuS+GcWXguzvooMwtcHhnglh3wtLVWsH0SeqC5nWP3oddZTPxcjUzJY6Tye+BdqmnyDaPz0Nt6mopgNpFbwubXYCkRo5s25Ixpq2j+hsjZrqP4IXiqZ96TtRP6i7Rqmt9sUTgp5Sq9bES+85OG5Rwxu/cMN45g9k/oM3n84A9lTznQAD5Q0Mr7vRUKn1/8S2lbkNNU0k/BIfSRHL00Fxc9J6K0zS3Y2kOpi6Jzwy8KG8G6TV1UMwOOFnw8+O40/I5RFa3aCO5y36bxetzVmfeTtGvgH1z5Svat8BQFZTL0FBYHlMtGVvZk2xX92piVTSrxdo5kflAq9jW7ORoH98Wuc36v0KUFOrmMHaWMtfxIFv09CbpQI3acWM3qBegt6lr+bgG/Sc3i9hBy1mlGqWkndIN8hAd94MiSTG3rkRM3qdlgFZlRHZca4TF7xyl9EjnW31q+4gJrlvs4PIx3zM928g+96HbCSbcY7O++S9niT14udtE/3ZMHYhgDAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAC2SX0hTcRzFZYxBUDFoo9AhCx3BXhq4B7HAU9t0dSWiRJy2WG5GxIgQWT74JkVBWZQ1omEbQX9o97r9NhWGxBahwhaoBKIYUjKYsWkQ+uBDy3Z2nz73cL7ne77cW2++/LIlsubM5RP4ILyqmv3nkiMJR8FX4bVzSXTVkUffJRH8fq3Cq6pJdLf3Vdg+nYR5kFx8Po1emf6LGoH5Fvo1EQW6LPmmcwKBFfoNxxMIyP3cm4qjLeyucOcfBdG/9PTkFJx/wtkLGRl1JepjHxWcmGRnzZCCQynu3fUo2N2kR3yVMZUhexajCAeY8/BHFKV7nC1uTGDATo+lR6ApQt35WKD8i5lGk8DUCPm+K44lKz0+rcBImrNXtgTCgmzsjMEdIn9ej8L73sOeL2TMmJgz81qG+xn7GCwy8npmmrdl1Ac5Gy3IMO7RY92/62k3ebg2jswquWtRQO2q3ngggbkS9cPzAv4wdxmyAltFdrixILBgoV/tE9AedUup/y816fKDWX4Lv8sBk4F9Qg1taPSRjbfP4G2YrNM04+oyOXf9FJqWmZ8bb0VwifnDjXbcGmCf4ooNuj3qg3o7NvrJv0dtCH1jzuleJ+42UPfpO7BTzdFuSujLM//LkIQ7n5ipzkoYO0lPbEfCmxhzDlo74P1JPrbdDn+adxletUJ1pPrfPrJh/Cy5ULZhvZb+5lkb/gGlsrX+GAMAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAJPTCp5ptfCOx4tjXK4rNyUzMQDBnDxFV9cXKWC2TzCfa5g0hD3TkdN1+t1EMHvKBj3XCPckuLhWCYQt9lPaNXotRP1pS2XXE1YQ9ZPe8bmKnIawbZYedym7iVBftjYVzN6YJezqtiAWzM4q1nBd8w+iZtbZty5eEyB6F1/mc5V+i9CrvjUZ7gbeXSlw8W8vIWqumIm6bjsIYZuLvHVZUJYIV/O2LRkuXuSC8IvxQoSZ/18hzNzWnAJXf8kEoab5AMI9CzZB2PMj/7vEzoGw34WwuSavSICr2aOaAg/D2MkI9zwVhZjJ5cHhKjcd4R6FX4gwf2qAUF8UfYQFxj7+NhGu/mQFws1LZQ/D1ZSER3nvAnEYDvx/uDYDrCZlt46rqgzE3jK/zy4qKRC22Spp12ULIOxVDFqucdch7NBFMq7G1yF+Mf8u7Tr9UhKcnVcEcYOog7aryC+E+ONUBHvOFYg5cYJvXVqVIeLV6/RcvyKZk/QUYr5qt7Br+b5EuJop+gj1izdAzPlsz+ma/AjC/hLO7ppzAJKWbu2TcWUSToKrmeeE0HtfKhluFwCvwILLAAMAAA==" />
  </appSettings>
</configuration>